# deps
node_modules
**/node_modules
.pnpm-store
**/.pnpm

# build caches/outputs
dist
**/dist
build
**/build
.turbo
**/.turbo
.next
**/.next
out

# env
.env
.env.*
!.env.example

# git/ide/os
.git
**/.git
.vscode
.idea
.DS_Store
Thumbs.db

# logs
*.log
debug-output.txt
